<?xml version='1.0' encoding='utf-8'?>
<routes>
  <route route_type="public" route_prefix="denetim" controller="Warext\ModerationAudit:Audit" context="warextAudit" />
  <route route_type="public" route_prefix="denetim-geribildirim" controller="Warext\ModerationAudit:Feedback" context="warextAudit" />
  <route route_type="public" route_prefix="denetim-takip" controller="Warext\ModerationAudit:Governance" context="warextAudit" />

  <route route_type="admin" route_prefix="warext-moderation-audit" controller="Warext\ModerationAudit:Dashboard" context="warextModerationAuditAdmin" />
  <route route_type="admin" route_prefix="warext-moderation-audit-settings" controller="Warext\ModerationAudit:Settings" context="warextModerationAuditAdmin" />
</routes>